<link rel="stylesheet" href="index.css">

<div class="post-form">
	<form method="post" action="/post">
		<input type="text" name="inputOne" required><input type="submit" name="submit" value="Post">
	</form>
</div>