<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" href="index.css">
</head>
<body>
	<%= File.read("./views/navbar.erb") %>

	<div class="post-form">
		<form method="post" action="/post">
			<input type="text" name="inputOne" required><input type="submit" name="submit" value="Post">
		</form>
	</div>

</body>
</html>