<link rel="stylesheet" href="login.css">

<div>
	<form method="post" action="/login">
		<label for="username">Username: </label>
		<input type="text" name="username" required>
		<br>
		<label for="password">Password: </label>
		<input type="password" name="password" required>
		<br>
		<input type="submit" name="submit" value="Log in">
	</form>
</div>