<link rel="stylesheet" href="post.css">

<div class="posts-div">
	<h1 class="title">Posts</h1>
	<ul class="post-ul">
		<% Post.all.each do |x| %>
			<%= "<li><p class='post'>#{x.body} - #{x.author}</p><a class='delete' href='/delete/#{x.id}'>X</a></li>" %>
		<% end %>
	</ul>
</div>