<!DOCTYPE html>
<html>
<head>
	<title>Posts</title>
	<link rel="stylesheet" href="post.css">
</head>
<body>
	<%= File.read("./views/navbar.erb") %>

	<div class="posts">
		<h1>Posts</h1>
		<ul>
			<% post.all.each do |x| %>
				<%= "<li><p>#{x.body}</p><a class='delete' href='/delete/#{x.id}'>X</a></li>" %>
			<% end %>
		</ul>
	</div>
</body>
</html>