<link rel="stylesheet" href="post.css">

<div class="posts">
	<h1>Posts</h1>
	<ul class="post-ul">
		<% @Post.all.each do |x| %>
			<%= "<li><p>#{x.body}</p><a class='delete' href='/delete/#{x.id}'>X</a></li>" %>
		<% end %>
	</ul>
</div>
<% if @status_message %>
	<p><%= @status_message%></p>
<% end %>
