<link rel="stylesheet" href="signup.css">

<div>
	<form method="post" action="/signup">
		<label for="username">Create a username: </label>
		<input type="text" name="username" required>
		<br>
		<label for="password">Create a password: </label>
		<input type="password" name="password" required>
		<br>
		<input type="submit" name="submit" value="Sign up">
	</form>
</div>