.posts-div {
	width: 60%;
	margin: auto;
}

.delete {
	text-decoration: none;
	color: red;
	float: right;
	margin-right: 4px;
}

.post {
	margin: 0px;
	margin-left: 4px;
	display: inline-block;
}

.title {
	margin: auto;
	width: 50%;
	text-align: center;
}

.post-ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px;
	height: 50%;
	border: 1px solid #555555;
}

li {
}